<div id="banner" class="d-flex justify-content-center align-items-center" style="background-image: url(<%= cl_image_path "h3fu8seqjupmpgwlaa9y_zcf1qc" %>)">
  <h1 class="mb-4">Nos cocktails</h1>
</div>


<div class="container">
  <div class="card-container">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo.attached? ? cl_image_path(cocktail.photo.key, height: 400, width: 400, crop: :fill) : 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg' %>)">
          <span><%= cocktail.name %></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
