<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-6 bg-white p-5 rounded shadow-sm">
      <%= render 'new', cocktail: @cocktail  %>
    </div>
  </div>
</div>
